@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
  --col-primary: #020202;
  --col-secondary: #eaddd0;
  --col-light-gray: #b1b0aa;

  --col-light-beige: #f5e8d3;
  --col-white: #ffff;

  --font-family: "Ubuntu";

  --box-shadow: 2px -1px 24px -9px rgba(66, 68, 90, 1);
}

html {
  font-family: var(--font-family), sans-serif;
  background-color: var(--col-light-beige);
}

body {

}