@import '@/mixins';

.categories {
  padding: 10px;
  display: flex;
  flex-direction: column;

  &__heading {
    margin-bottom: 20px;
  }

  &__button:defined {
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 500;
    margin: 0 auto 30px auto;
    width: 180px;

  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-direction: column;

    @include sm {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      justify-items: center;
    }
  }
}