.button {
  background-color: var(--col-white);
  border: 1px solid var(--col-primary);
  padding: 5px 10px;
  border-radius: 15px;
  width: 100px;
  text-decoration: none;
  color: var(--col-primary);
  text-align: center;
  display: inline-block;

  &:hover {
    cursor: pointer;
  }

  &--primary {
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 500;
    margin: 0 auto 30px auto;
    width: 180px;
  }
}