.preview-item {
  background-color: var(--col-white);
  width: clamp(270px, 40vw, 280px);
  height: 350px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  display: flex;
  justify-content: space-between;


  &__link {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    width: 100%;


    &:hover > .preview-item__info-wrap {
      color: var(--col-white);
      background-position: 0 0;
      background-size: 100%;
    }
  }

  &__info-wrap {
    margin-top: auto;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    width: 100%;

    color: var(--col-primary);
    transition: 300ms background-position ease-out, 400ms color ease-out;
    background-position: 0 150px;
    background-image: linear-gradient(to top, var(--col-primary), var(--col-primary));
    background-repeat: no-repeat;
    background-size: 0;
  }

  &__image-wrapper {
    height: 270px;
    width: 100%;
  }

  &__image {
    object-fit: cover;
  }
}

