.preview-item {
  background-color: var(--col-light-beige);
  max-width: 280px;
  height: 350px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  display: flex;

  &__link {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: var(--col-primary);
  }

  &__info-wrap {
    background-color: var(--col-white);
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
  }

  &__image-wrapper {
    max-height: 275px;
  }

  &__image {
    object-fit: cover;
  }
}