@import '@/mixins';

.home-view {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  gap: 30px;
  @include md {
    flex-direction: row;
  }

  &__image-wrapper {
    width: 280px;
    height: 270px;
    @include sm {
      width: 340px;
      height: 320px;
    }

    @include md {
      height: 460px;
      width: 465px;
    }
    @include lg {
      height: 600px;
      width: 600px;
    }

    &--loading {
      animation: 1s skeleton-animation linear alternate infinite;

    }

  }

  &__image {
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__button-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}

@keyframes skeleton-animation {
  from {
    background-color: hsla(70, 5%, 81%, 0.7);
  }
  to {
    background-color: hsla(171, 27%, 91%, 0.7)
  }
}