@import '@/mixins';

.home-view {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  gap: 30px;
  @include md {
    flex-direction: row;
  }

  &__image-wrapper {
    width: 280px;
    height: 270px;
    @include sm {
      width: 340px;
      height: 320px;
    }

    @include md {
      height: 460px;
      width: 465px;
    }
    @include lg {
      height: 600px;
      width: 600px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__button-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
