.category-form {
  background-color: var(--col-secondary);
  border: 1px solid var(--col-primary);
  border-radius: 10px;
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  box-shadow: var(--box-shadow);

  &__form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }


  &__button:defined {
    margin: 0 auto;
  }
}