.loader {
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);

  &__icon {
    animation: 1s loader-animation linear infinite;
    width: 60px;
    height: 60px;
  }
}

@keyframes loader-animation {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}